/* contact css */

.contact {
  width: 70rem;
  padding: 1rem 0;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto 1rem;
}

/*******************  ********************/

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Styled select */
.custom-select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 1.2rem 3rem 1.2rem 1.2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--black);
  border-radius: 8px;
  background-color: white;
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 16px;
}

/* Optional: Style option tags (limited support) */
select option {
  background: white;
  color: #333;
  padding: 1.2rem;
}

.custom-select option[disabled] {
  color: #aaa;
}

/*******************  ********************/

.contact__form {
  width: 44rem;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.contact__pera {
  text-align: left;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 3rem;
}

.contact__form-input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  color: var(--black);
  border: 1px solid var(--black);
  background: transparent;
  margin-bottom: 1rem;
}

.contact__form-label {
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact__form-name-box {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.star {
  color: var(--primary);
  margin: 0 auto 8px 4px;
}

.contact__form > .button-Container {
  width: 22rem !important;
}

.contact__form > .button-Container > .about__btn {
  padding: 1rem 2.6rem !important;
}

@media screen and (max-width: 1200px) {
  .contact {
    width: 100%;
    padding: 1rem var(--pd-mid);
  }

  .contact__form {
    width: 100%;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .contact__form > .button-Container {
    margin: 1rem 0 0;
    width: fit-content !important;
  }

  .contact__form > .button-Container > .about__btn:first-child {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 620px) {
  .contact__form-name-box {
    display: grid;
    grid-template-columns: none !important;
    grid-template-rows: auto auto !important;
    grid-gap: 0;
  }

  .button-Container {
    width: 100%;
  }
}
