.Getintouch .page__heading {
    margin-top: 6rem;
}

.Getintouch .git_pera {
    color: var(--primary);
    font-size: 2.5rem;
    font-size: clamp(1.2rem, 5vw, 2.5rem);
    font-weight: bold;
    font-family: var(--secondayfont);
}

.Getintouch form {
    width: 100%;
    padding-top: 2rem;
}

.ContactBoxes {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;    
}

.ContactBox {
    width: 100%;
}

.ContactBox .box .contact-pera{
    color: var(--primary);
    font-size: 1rem;
    font-weight: 500;
}

.ContactBox .box {
    margin-bottom: 2rem;
}

.ContactBox .box h2 {
    color: black;
    font-size: clamp(1rem, 4vw, 1.8rem);
    font-family: var(--secondayfont);
}

.getintouchimg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

